@charset "UTF-8";
/* CSS Document */


	

.container{
display:  flex;
flex-wrap:  wrap;
justify-content: center;
max-width:  $max-width;
margin: auto;	

}

a{
	display: flex;
    flex: 1  ;
    width: 200px;
	max-width: 200px;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 40px;
	transition: box-shadow 200ms ease-in-out 100ms; 
	
	
}
a[data-fancybox]:hover{
	opacity: .8;
	box-shadow: 3px 3px 5px #242a8f;
}

	
.lb-data .lb-caption{
	font-family: $font-family-1;
	font-size: $font-size-1;
}