/* CSS Document */
.searchfield{
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	

#search{
	margin-top: 20px;
	margin-bottom: 20px;
	width: 32%;
	height: 30px;
	border-style: solid;
	border-color: rgba(142,142,142, .50);
	border-radius: 5px;	
	@media(max-width: $brk-s){
	width: 50%;	
	height: 35px;	
	}
	
	}
	}